@import '../node_modules/bootstrap/dist/css/bootstrap.css';
body {
    color: white;
    min-height: 100vh;
    background: url('./images/photo-1611501279711-670b0d0455cb.avif') no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: bottom;
}